In [2]:
-- Create a new table called '[TWITTER]' in schema '[SOURCES]'
-- Drop the table if it already exists
IF OBJECT_ID('[sources].[TWITTER]', 'U') IS NOT NULL
DROP TABLE [sources].[TWITTER]
GO
-- Create the table in the specified schema
CREATE TABLE [sources].[TWITTER]
(
    [ID] INT NOT NULL PRIMARY KEY, -- Primary Key column
    [NAME] NVARCHAR(50) NOT NULL,
    [LOCATION] NVARCHAR(50) NOT NULL
    -- Specify more columns here
);
GO